#left, #right, #openClose {
    float: left;
}

#openClose {
    width: 6px;
    margin: 0 1px;
    cursor: pointer;
}

#openClose, #openClose.close {
    background: #efefef url("../images/openclose.png") no-repeat -29px center;
}

#openClose.close {
    background-position: 1px center;
    opacity: 0.5;
    filter: alpha(opacity=50)
}

.pagination{
    margin: 5px 0;
}

body.modal-open {
    overflow-y: auto !important;
    padding-right: 0 !important;
}

.modal-scrollbar-measure {
    overflow: hidden;
}